#home {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#home::-webkit-scrollbar {
    display: none;
}

#home-letter {
    font-size: 40px;
}

#home-main {
    width: 100%;
    margin-left: 10rem;
}

#home-fieldset {
    border: 0;
    border-left: 2px solid var(--main-green);
    border-block: 2px solid var(--main-green);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.5rem;

    legend {
        margin: 0 auto;
    }
}

#links-fieldset {
    border: 0;
    padding: 0;
    border-top: 2px solid var(--main-green);

    legend {
        margin: 0 12px;
    }
}

#home-lights {
    margin-top: 24px;
    pointer-events: none;

    > div {
        display: flex;

        div {
            background-color: var(--main-green);
            width: 60px;
            height: 40px;
        }
    }
}

@media(width < 1400px) {
    #home {
        flex-direction: column;
    }

    #home-letter {
        font-size: 30px;
    }

    #home-main {
        margin: 0;
    }

    #home-fieldset {
        border: 2px solid var(--main-green);
        border-radius: 15px;
    }
}

@media(width < 600px) {
    #home-letter {
        font-size: 25px;
    }

    #home-fieldset {
        font-size: 1.4rem;
    }

    #home-lights > div > div {
        width: 40px;
        height: 30px;
    }
}

@media(width < 500px) {
    #home-letter {
        font-size: 20px;
    }

    #home-main {
        margin-block: 20px;
    }

    #home-fieldset {
        font-size: 1.3rem;
    }

    #home-lights > div > div {
        width: 30px;
        height: 20px;
    }
}

@media(width < 400px) {
    #home-letter {
        font-size: 15px;
    }
}