#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2rem;
}

#home > div {
    border-block: 2px dashed var(--main-green);
    margin-block: 2rem;
    background-color: #00800021;
    padding-inline: 1rem;
}

/*Image*/
#home-img {
    width: 200px;
    height: 200px;
    perspective: 800px;
    animation: rotate 10s linear infinite;
    border: 2px solid var(--main-green);
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
/*Image*/

/*Headings*/
#home-h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

#home-h2, #home-h3 {
    font-size: 1.5rem;
    margin-block: 1rem;
}
/*Headings*/

@media(max-width: 600px) {
    #home {
        margin-inline: 1rem;
    }

    #home-h1 {
        font-size: 1.5rem;
    }

    #home-h2, #home-h3 {
        font-size: 1.2rem;
    }
}