#home {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#home::-webkit-scrollbar {
    display: none;
}

#home-letter {
    font-size: 40px;
}

#home-main {
    width: 100%;
    margin-left: 10rem;
}

#home-fieldset {
    border: 0;
    border-left: 2px solid var(--main-green);
    border-block: 2px solid var(--main-green);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.5rem;

    legend {
        margin: 0 auto;
        font-weight: 600;
    }
}

#links-fieldset {
    border: 0;
    padding: 0;
    border-top: 2px solid var(--main-green);

    legend {
        margin: 0 12px;
    }
}

#bottom-panel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    margin-block: 12px;
}

#lang-switch {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-inline: 8px;

    > p {
        font-size: 1.3rem;
        font-weight: 600;
    }
}

#switch-container {
    position: relative;
    border: 2px solid var(--main-green);
    height: 40px;
    width: 75px;

    label {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    input {
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }

    div {
        background-color: var(--main-green);
        width: 50%;
        height: 100%;
        transition: all 0.25s;
    }

    input:checked + div {
        transform: translateX(100%);
    }
}

#home-lights {
    pointer-events: none;

    > div {
        display: flex;

        div {
            background-color: var(--main-green);
            width: 60px;
            height: 40px;
        }
    }
}

@media(width < 1400px) {
    #home {
        flex-direction: column;
    }

    #home-letter {
        font-size: 30px;
    }

    #home-main {
        margin: 0;
    }

    #home-fieldset {
        border: 2px solid var(--main-green);
        border-radius: 15px;
    }
}

@media(width < 600px) {
    #home-letter {
        font-size: 25px;
    }

    #bottom-panel {
        flex-direction: column-reverse;
    }

    #home-fieldset {
        font-size: 1.4rem;
    }

    #home-lights > div > div {
        width: 40px;
        height: 30px;
    }
}

@media(width < 500px) {
    #home-letter {
        font-size: 20px;
    }

    #home-main {
        margin-block: 20px;
    }

    #home-fieldset {
        font-size: 1.3rem;
    }

    #home-lights > div > div {
        width: 30px;
        height: 20px;
    }
}

@media(width < 400px) {
    #home-letter {
        font-size: 15px;
    }
}