#projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-green);
}

/*SVG*/
#projects-svg {
    width: fit-content;
    perspective: 800px;
    animation: rotate 10s linear infinite;
}
    
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
/*SVG*/