#projects {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
}

.entry {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid var(--main-green);
    width: 30%;
    height: 300px;

    img {
        height: 45%;
        margin-bottom: 20px;
    }
}

.entry-text-container {
    text-align: center;

    a {
        font-size: 2rem;            
    }

    p {
        font-size: 1.4rem;
    }
}

.tags-container {
    font-size: 1.2rem;

    span {
        background-color: var(--main-green);
        color: #000;
        padding-inline: 4px;
    }
}