#stack {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#carousel-prev, #carousel-next {
    background: none;
    border: 0;
    border: 2px solid var(--main-green);
    color: var(--main-green);
    padding-inline: 12px;
    font-size: 8rem;
    cursor: pointer;
    font-family: var(--main-font);
    z-index: 10;
}

#carousel-prev:hover, #carousel-next:hover {
    background-color: var(--main-green);
    color: #000;
}

.panel {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 2px solid var(--main-green);
    overflow: auto;
    
    p {
        font-size: 3rem;
        margin-bottom: 0;
        background-color: var(--main-green);
        color: #000;
    }

    img {
        height: 300px;
    }
}

#carousel-all {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
    padding: 4px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    button {
        display: flex;
        align-items: center;
        background: none;
        border: 0;
        cursor: pointer;
        padding-inline: 4px;
        padding-block: 8px;
    }

    img {
        height: 50px;
        pointer-events: none;
    }
}

#carousel-all::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}

@keyframes transitionOutLeft {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        left: 75%;
        scale: 50%;
    }
}

@keyframes transitionInLeft {
    from {
        opacity: 0%;
        left: 10%;
    }
    to {
        opacity: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes transitionOutRight {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        left: 25%;
        scale: 50%;
    }
}

@keyframes transitionInRight {
    from {
        opacity: 0%;
        left: 90%;
    }
    to {
        opacity: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(width < 950px) {
    #carousel-all {
        justify-content: left;
    }

    #carousel-prev, #carousel-next {
        font-size: 4rem;
    }

    .panel {
        p {
            font-size: 2rem;
        }

        img {
            height: 250px;
        }
    }
}

@media(width < 600px) {
    #carousel-prev, #carousel-next {
        font-size: 3rem;
    }
}

@media(width < 500px) {
    #carousel-prev, #carousel-next {
        font-size: 2rem;
    }

    .panel {
        p {
            font-size: 2rem;
        }

        img {
            height: 150px;
        }
    }
}