#stack {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#carousel-prev, #carousel-next {
    background: none;
    border: 0;
    border: 2px solid var(--main-green);
    color: var(--main-green);
    padding-inline: 12px;
    font-size: 4rem;
    cursor: pointer;
    font-family: var(--main-font);
}

#carousel-prev:hover, #carousel-next:hover {
    background-color: var(--main-green);
    color: #000;
}

#panel-container {
    display: flex;
    overflow: hidden;
}

.panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 100%;
    box-sizing: border-box;

    div {
        border: 2px solid var(--main-green);
    }
    
    p {
        font-size: 3rem;
        margin: 0;
        background-color: var(--main-green);
        color: #000;

    }

    img {
        height: 300px;
        margin: 12px;
    }
}

#carousel-all {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 4px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 0;
        cursor: pointer;
        transition: all 0.2s;
        min-width: 60px;
        padding-block: 8px;
    }

    button[data-active] {
        outline: 1px solid var(--main-green);
        scale: 110%;
    }

    img {
        height: 40px;
        pointer-events: none;
    }
}

#carousel-all::-webkit-scrollbar { 
    display: none;
}

.img-bg {
    background-color: var(--main-green);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 4px;
}

@media(width < 950px) {
    #carousel-all {
        justify-content: left;
    }

    .panel {
        p {
            font-size: 2rem;
        }

        img {
            height: 250px;
        }
    }
}

@media(width < 600px) {
    #carousel-prev, #carousel-next {
        display: none;
    }
}

@media(width < 500px) {
    .panel {
        img {
            height: 200px;
        }
    }
}