@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

#footer {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 48px;
}

#footer a {
    font-family: "Cal Sans", sans-serif;
    text-decoration: none;
    color: #FCFAEE;
    font-size: 2rem;
}

#footer a:hover {
    color: rgb(255, 183, 49);
}