#footer {
    text-align: center;
    margin-block: 2rem;
}

#footer a {
    font-family: "Cal Sans", sans-serif;
    text-decoration: none;
    color: #FCFAEE;
    font-size: 2rem;
}

#footer a:hover {
    color: rgb(255, 183, 49);
}