body {
    margin: 0; 
    background-color: rgb(36, 36, 36); 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    position: relative;
    z-index: 10;
    border-block: 1px solid rgb(105, 105, 105);
    padding-block: 4px;
    max-width: 500px;
    width: 100%;
    margin-inline: 24px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

#header > div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#header > div > div {
    display: flex;
    gap: 16px;
}

#header > div > div > div {
    background-color: rgb(255, 183, 49);
    width: 0.6px;
    height: auto;
}

#header h1 {
    margin: 0;
    font-weight: 100;
    color: #FCFAEE;
    font-size: 3rem;
    text-align: left;
}

#header h2 {
    font-weight: 100;
    margin: 0;
    color: #FCFAEE;
    font-size: 1.5rem;
}

@media (max-width: 750px) {
    #header {
        max-width: 430px;
    }

    #header h1 {
        font-size: 2.5rem;
    }

    #header h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    #header {
        max-width: 350px;
    }

    #header h1 {
        font-size: 2rem;
    }

    #header h2 {
        font-size: 1.1rem;
    }
}