body {
    margin: 0; 
    background-color: rgb(36, 36, 36); 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    position: relative;
    z-index: 10;
    padding-block: 4px;
    max-width: 500px;
    width: 100%;
    margin-inline: 24px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    perspective: 900px;
}

#header-content {
    display: flex;
    z-index: 10;
    flex-direction: column;
    width: fit-content;
}

#header-content > div {
    display: flex;
    gap: 16px;
}

#header-content > div > div {
    background-color: rgb(255, 183, 49);
    width: 0.6px;
    height: auto;
}

#header h1 {
    margin: 0;
    font-weight: 100;
    color: #FCFAEE;
    font-size: 3rem;
    text-align: left;
}

#header h2 {
    font-weight: 100;
    margin: 0;
    color: #FCFAEE;
    font-size: 1.5rem;
}

#rotate-wrapper {
    position: absolute;
    top: -115%;
    width: 65%;
    aspect-ratio: 1/1;
    opacity: 80%;
}

#rotate {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 4px solid rgb(105, 105, 105);
    animation: rotate 20s linear infinite;
}

#ball {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 999px;
    background-color: rgb(255, 183, 49);
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 30px 5px rgb(255, 185, 54);
}

#ball2 {
    position: absolute;
    top: calc(100% - 15px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 999px;
    background-color: rgb(105, 105, 105);
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 30px 5px rgb(129, 129, 129);
}

@keyframes rotate {
    from {
        transform: rotateX(76deg) rotateY(-4deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(76deg) rotateY(-4deg) rotateZ(360deg);
    }
}

@media (max-width: 750px) {
    #header {
        max-width: 430px;
    }

    #header h1 {
        font-size: 2.5rem;
    }

    #header h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 450px) {
    #header {
        max-width: 350px;
    }

    #header h1 {
        font-size: 2rem;
    }

    #header h2 {
        font-size: 1.1rem;
    }
}