#nav {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    color: #FCFAEE;
    text-align: center;
    font-size: 2rem;
    padding-block: 8px;
    backdrop-filter: blur(1rem);
    width: 100%;
    z-index: 999;
    opacity: 85%;
}