:root {
    --scale: 1
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 80px;
    color: white;
}

#projects h1 {
    color: #FCFAEE;
    font-size: 3rem;
    margin-bottom: 64px;
    font-weight: 100;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.project-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    margin-inline: 24px;
}

.project-top {
    display: flex;
}

.project-top img {
    height: 125px;
    padding: 16px;
}

.project-top div {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    font-size: 2rem;
    border-bottom: 1px solid rgb(255, 183, 49);
    margin: 0;
    text-decoration: none;
}

.title:hover {
    color: rgb(255, 183, 49) !important;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.title:visited {
    color: white;
}

.desc {
    font-size: 1.3rem;
}

.tags {
    border-top: 1px solid rgb(255, 183, 49);
    padding-top: 8px;
}

.tags span {
    font-size: 1.1rem;
}

.tags span::after {
    content: " - ";
}

.tags span:last-child:after {
    content: "";
}

@media (max-width: 750px) {
    #projects h1 {
        font-size: 2.5rem;
    }

    .project-top img {
        height: 100px;
    }

    .title {
        font-size: 1.7rem;
    }

    .desc {
        font-size: 1.1rem;
    }

    .tags span {
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    #projects h1 {
        font-size: 2rem;
    }

    .project-top {
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: 1.6rem;
    }

    .desc {
        font-size: 1rem;
    }

    .tags span {
        font-size: 0.8rem;
    }
}