:root {
    --scale: 1
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 64px;
    background-image: url(../Assets/arrow3.svg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 40% 1%;
}

#projects h1 {
    font-family: "Sour Gummy", sans-serif;
    color: #FCFAEE;
    font-size: 3rem;
    margin-bottom: 32px;
}

.projects-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 700px;
    margin-inline: 32px;
}

.project-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background-color: #FCFAEE;
    padding: 18px;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 8px 8px #DA8359;
}

.container-top {
    position: relative;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 24px;
}

.container-top img {
    height: 240px;
    background-color: #FCFAEE;
    border-radius: 12px;
    border: 2px solid #DA8359;
}

.container-top p {
    position: absolute;
    top: 87%;
    margin: 0;
    text-align: center;
    background-color: #FCFAEE;
    border-radius: 12px;
    font-family: "Cal Sans", sans-serif;
    font-size: 1.3rem;
    padding-block: 8px;
    padding-inline: 24px;
    border: 2px solid #DA8359;
}

.desc {
    font-family: "Cal Sans", sans-serif;
    font-size: 1.5rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    margin-top: 18px;
}

.tags span {
    font-family: "Cal Sans", sans-serif;
    font-size: 1.1rem;
    background-color: #A5B68D;
    color: #FCFAEE;
    padding-inline: 12px;
    border-radius: 12px;
}

@media (max-width: 1500px) {
    #projects {
        background-position: 30% 1%;
    }
}

@media (max-width: 800px) {
    #projects {
        background-position: 10% 1%;
    }
}

@media (max-width: 450px) {
    #projects {
        background-image: none;
    }
}

@media (max-width: 1150px) {
    .project-container {
        max-width: 250px;
    }

    .container-top img {
        height: 180px;
    }

    .container-top p {
        font-size: 1rem;
    }

    .desc {
        font-size: 1.2rem;
    }

    .tags span {
        font-size: 1rem;
    }
}