#stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-container {
    display: flex;
    flex-direction: column;
    margin: 24px;
    max-width: 1000px;
}

.stack-container h1 {
    color: white;
    margin-bottom: 32px;
}

.language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.entry {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    gap: 12px;
    width: 200px;
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0px 0px 8px 2px rgb(56, 56, 56);
}

.entry img {
    height: 32px;
}

.entry p {
    color: white;
    font-size: 1.2rem;
    margin: 0;
}

.roundedJS {
    border-radius: 4px;
}

.invert {
    filter: brightness(0) invert();
}

@media (max-width: 520px) {
    .stack-container {
        margin: 16px;
    }

    .language-container {
        gap: 8px;
    }

    .entry {
        width: 140px;
    }

    .entry img {
        height: 24px;
    }

    .entry p {
        font-size: 1rem;
    }
}