#stack {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#general-frontend-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#general-frontend-wrapper > div {
    width: fit-content;
}

.stack-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 24px;
    background-color: rgb(34, 34, 34);
    box-shadow: -3px -3px rgb(255, 183, 49);
    padding-inline: 24px;
    padding-block: 25px;
    border-radius: 12px;
}

.stack-container h1 {
    color: white;
    margin-top: 0;
    font-weight: 100;
}

.language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
}

.entry img {
    height: 64px;
}

.entry p {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.roundedJS {
    border-radius: 8px;
}

.bg {
    background-color: rgb(255, 183, 49);
    border-radius: 12px;
    padding: 4px;
    box-sizing: border-box;
}

@media (max-width: 750px) {
    .stack-container h1 {
        font-size: 1.7rem;
    }

    .entry img {
        height: 48px;
    }

    .entry p {
        font-size: 1.1rem;
    }
}