#stack {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-image: url(../Assets/arrow2.svg), url(../Assets/brackets.svg);
    background-repeat: no-repeat;
    background-size: 150px, 150px;
    background-position: 20% 40%, 90% 10%;
}

#double-container {
    display: flex;
    gap: 3rem;
}

.stack-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FCFAEE;
    width: fit-content;
    border-radius: 12px;
    box-shadow: 8px 8px #DA8359;
    padding: 12px;
}

.stack-container h1 {
    font-family: "Sour Gummy", sans-serif;
    margin-top: 0;
}

.language-container {
    display: flex;
    width: fit-content;
    text-align: center;
}

.entry {
    transition: all 200ms;
}

.entry img {
    position: relative;
    margin-inline: 8px;
    height: 100px;
    padding: 12px;
    padding-bottom: 0;
    background-color: #FCFAEE;
    z-index: 10;
}

.entry p {
    margin: 0;
    font-family: "Cal Sans", sans-serif;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 200ms;
}

.entry:hover {
    scale: 110%;
}

.entry:hover > p {
    transform: translateY(0%);
    opacity: 1;
}

@media (max-width: 1150px) {
    #double-container {
        flex-direction: column;
        align-items: center;
    }

    .entry p {
        transform: translateY(0%);
        opacity: 1;
    }

    .entry img {
        height: 80px;
    }
}

@media (max-width: 750px) {
    .stack-container {
        margin-inline: 24px;
    }

    .stack-container h1 {
        font-size: 1.8rem;
    }   

    .language-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .entry {
        margin-bottom: 12px;
    }

    .entry p {
        transform: translateY(0%);
        opacity: 1;
    }

    .entry img {
        height: 70px;
    }
}