@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    margin: 0; 
    background: radial-gradient(circle at center, rgb(32, 32, 32), rgb(28, 28, 28));
    font-family: "Share Tech Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intersect {
    scale: 50%;
    opacity: 50%;
    transform: translateY(-25px);
    transition: all 350ms ease-in-out;
}

.grow {
    scale: 100% !important;
    opacity: 100% !important;
    transform: translateY(0px);
}